.login-content {
  height: 860px - 150px;
}
.sidebar {
  width: 320px;
  height: 1300px;
  img {
    height: 120px;
  }
}
.header {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #d4d9e3;
}
.content {
  width: calc(100vw - 320px);

}
.hidden {
  width: 100px !important;
  .sidebar-link {
    li {
      width: 100px !important;
      padding-left: 45px;
      &:hover {
        padding-left: 35px;
      }
    }
    .active {
      padding-left: 35px;
    }
  }
  img {
    display: none !important;
  }
  span {
    display: none !important;
  }
}
.sidebar-hidden {
   width: calc(100vw - 100px);
 }
.page {
    padding: 40px;
    height: calc(100vh - 120px);
  }
.ReportChart {
  border: 1px solid $border-color;
  max-width: 900px;
  width: 100%;
  height: 480px;
}
.SalesChart {
  max-width: 575px;
  width: 100%;
  height: 480px;
  border: 1px solid $border-color;
}
.home-cards > div{
  width: 470px;
  height: 520px;
  border: 1px solid $border-color;
  margin-top: 40px;
  li {
    border-top: 1px solid $border-color;
    height: 105px;
  }
}
.counter {
  width: 45px;
  height: 45px;
  border-radius: 45px;
}